
body{
	width: 970px;
	margin: 0 auto;
	font-family: Arial;
	background-color: lightgrey;
}
.header {
  width: 550px;
  height: 0px;
  font-size: 25px;
  margin-top: 10px;
  font-weight: bold;
  display: inline-block;
}
.profile {
  padding-top: 10px;
  width: 220px;
  margin-right: 20px;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
}
.log_out {
  width: 100px;
  padding-top: 16px;
  vertical-align: top;
  display: inline-block;
}
  .message {
    width: 800px;
    height: 110px;
    border: 2px solid black;
  }
  .name_date {
    width: 350px;
    font-weight: bold;
    font-size: 18px;
    display: inline-block;
  }
  .delete_post, .delete_comment {
    width: 55px;
    vertical-align: top;
    display: inline-block;
  }
  .msg {
    margin-left: 30px;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 750px;
    word-wrap: break-word;
  }
.head_break {
  margin-top: 10px;
  height: 2px;
  background-color: black;
}
.break {
  height: 2px;
  width: 800px;
  margin-bottom: 20px;
  background-color: grey;
}
.comment {
  margin-left: 20px;
}
  .com_textarea {
    width: 750px;
    height: 40px;
    border: 1px solid black;
  }
  .comment_title{
    width: 320px;
    font-size: 14px;
    margin-left: 30px;
    font-weight: bold;
    display: inline-block;
  }
  .comment_text {
    font-size: 12px;
    margin-left: 30px;
    word-wrap: break-word;
  }
    .button_red {
      color: red;
    }
